services:
  backend:
    build:
      args:
        - NODE_ENV=development
      context: backend
      target: development
      #command: npm run start-watch
    environment: 
      - DATABASE_DB=tidytraining
      - DATABASE_USER=root
      - DATABASE_PASSWORD=/run/secrets/db-password
      - DATABASE_HOST=database
      - NODE_ENV=development
    secrets:
      - db-password
    ports:
      - 80:80
      - 9229:9229
      - 9230:9230
    volumes: 
      - ./backend/src:/code/src:ro
      - ./backend/package.json:/code/package.json
      - ./backend/package-lock.json:/code/package-lock.json
      - back-notused:/opt/app/node_modules
    networks:
      - public
      - private
    depends_on:
      - database
  database:
    image: mariadb:lts
    command: '--default-authentication-plugin=mysql_native_password'
    restart: always
    secrets:
      - db-password
    ports:
      - 3306:3306
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - private
    environment:
      - MYSQL_DATABASE=starterpack
      - MYSQL_ROOT_PASSWORD_FILE=/run/secrets/db-password
  frontend: 
    build:
      context: frontend
      target: development
    ports:
      - 3000:3000
    volumes:
      - ./frontend/src:/code/src
      - /code/node_modules
    networks:
      - public
    depends_on:
      - backend
networks:
  public:
  private:
volumes:
  back-notused:
  db-data:
secrets:
  db-password:
    file: database/password.txt